.pie-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;

  .custom-tooltip {
    border-radius: 5px;
    background: var(--light-navy);
    color: var(--green);
    border: 2px solid #cad1f6;
  }

  .label {
    padding: 5px 20px;
    font-size: 14px;
  }
}

.pie-wrapper {
  margin-right: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
