.tooltip-wrapper {
  z-index: 1;
  position: absolute;
  right: 0;

  .tooltip-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f5eeee;
    border-radius: var(--border-radius);
    box-shadow: 5px 10px 30px #ece7e7;
    background-color: #fff;
    padding: 20px 20px;
    width: 360px;
    height: auto;

    .svg-image {
      width: 300px;
      height: 300px;
    }

    .show-result {
      outline: none;
      border: none;
      color: var(--white);
      padding: 8px 20px;
      background: var(--dark-navy);
      border-radius: var(--border-radius);
      cursor: pointer;

      &:hover {
        background: var(--light-navy);
      }
    }

    .content {
      margin: 0 auto;
      max-width: 320px;
      max-height: 140px;
      text-align: center;
      overflow: auto;

      strong {
        color: red;
        text-decoration: underline;
      }
    }
  }
}
