$padding-y: 50px;

.wrapper {
  display: flex;
  position: relative;
  font-family: var(--font-nunito);

  .left-content {
    position: relative;
    content: "";
    height: 651px;
    background: var(--dark-navy);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 60%;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 150px) 100%, 0% 100%);

    .title-header {
      span {
        font-size: 35px;
      }

      p {
        font-size: 15px;
      }
    }

    .circle {
      position: absolute;
      right: 60%;
      transform: translate(50%, 8%);
      height: 350px;
      width: 350px;
      background-color: var(--light-navy);
      border-radius: 50%;
      display: inline-block;

      img {
        position: absolute;
        right: 0;
        transform: translate(6%, 17%);
        width: 390px;
        height: 250px;
        border-radius: 5px;
      }
    }
  }

  .right-content {
    width: 40%;
    max-width: 320px;
    padding: $padding-y 15px;

    .paragraph {
      margin: 15px 0;
      line-height: 5px;
      color: var(--light-navy);
    }

    .title {
      font-size: 40px;
      font-weight: bold;
      color: var(--light-navy);
    }

    .dropzone-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--light-gray);
      border: 2px dashed var(--gray);
      margin: 50px 0 0;
      width: 350px;
      height: 350px;
      text-align: center;
      border-radius: var(--border-radius);

      p {
        margin: 0;
        font-weight: bold;
        color: var(--gray);
      }

      span {
        color: var(--gray);
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 0;
        display: block;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        border: none;
        outline: none;
        color: var(--white);
        background: var(--dark-navy);
        border-radius: var(--border-radius);
        padding: 8px 20px;

        &:hover {
          background: var(--light-navy);
        }
      }
    }
  }

  .title-header {
    padding: $padding-y 74px 0;

    span {
      color: var(--light-slate);
      font-weight: bold;
      font-size: 30px;
      width: 20px;
    }

    p {
      line-height: 7px;
      font-size: 14px;
      color: var(--lightest-slate);
    }
  }
}
