::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border: 3px solid var(--white);
  border-radius: 10px;
}

button {
  outline: none;
  border: none;
}

:root {
  --dark-navy: #02152f;
  --light-navy: #2c3855;
  --lightest-navy: #858db0;
  --light-slate: #a6add1;
  --lightest-slate: #cad1f6;
  --green: #00ffe2;
  --white: #e1f1ff;
  --color: #000;

  //*window size
  --width: 1200px;
  --height: 650px;

  --super-white: #fff;
  --gray: #e9cbcf;
  --light-gray: #f7f8fc;
  --slight-gray: #f3f5ff;

  --font-nunito: "Nunito", sans-serif;
  --font-sans: "Calibre", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  --border-radius: 5px;
}

@font-face {
  font-family: "Nunito Semibold";
  src: url(./font/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: "Nunito Regular";
  src: url(./font/Nunito-Regular.ttf);
}
